* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: var(--c-gray);
    font-family: var(--font-regular);
    background-color: var(--c-primary);
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 13px; }
h4 { font-size: 10px; }
h6 { font-size: 16px; }

ul li { list-style: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }

